*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

@font-face {
    font-family: "Nunito";
    src: url(../public/Fonts/Nunito/Nunito-Regular.ttf);
  }

  @font-face {
    font-family: "Nunito-Italic";
    src: url(../public/Fonts/Nunito/Nunito-Italic.ttf);
  }
  @font-face {
    font-family: "Nunito-Light";
    src: url(../public/Fonts/Nunito/Nunito-Light.ttf);
  }
